{% extends "base.html" %}
{% block content %}

<h3 style="text-align: center; margin-top: 1% ;">UPDATE STUDENT</h3>
<hr>
<div class="container container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"></div>
        <form action="/update" method="post">
            <table class="table table-borderless">
            <tr>
                <td>Mobile Number </td>
                <td><input name = "mobile" type="text" class="form-control"></td>
            </tr>
            <tr>
                <td></td>
                <td><button class="btn btn-success" type="submit">UPDATE</button></td>
            </tr>
        </table>
        </form>
    </div>
</div>

{% endblock %}